<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Monolith - simple taskboard</title>

		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-theme.css"/>
<!-- 		<link rel="stylesheet" type="text/css" href="css/start.css"/> -->
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script type="text/javascript" src="lib/epiceditor.js"></script>
		script(type="text/javascript" src="lib/cufon-yui.js")
		<script src="lib/cufon-yui.js"></script>
		<script src="lib/yonder-recoil.cufonfonts.js"></script>
		<script type="text/javascript" data-main="js/main" src="lib/require.js"></script>
	</head>

	<body>
		<header>
			<div id="navbar" class="navbar navbar-inverse">
				<div class="logo-splitter"></div>	
				<div class="col-lg-5"><span class="brand">SENTINEL</span></div>
				<div class="col-md-3 feature-menu">
					<div id="main-menu-region"></div>
				</div>

				<div class="col-md-4">
					<div id="project-search-region" class="col-md-12">
						
					</div>
					<div id="switch-region">
					</div>

					<div class="col-md-12">
						<div class="logout">
							<form action="/sign-out">
								<div class="btn-wrap">
									<button class="logout-button light-button btn btn-success btn-nav">
										Выход
									</button>
								</div>
							</form>
						</div>

						<div class="whell username">
							Иванов Иван Иванович
						</div>
						
					</div>
			</div>
		</header>

		<div id="main-region" class="content">

		</div>

		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true"></div>

		<div class="modal fade" id="project-edit-modal" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel	" aria-hidden="true"></div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<!--убрать отсюда так вынесено в отдельный темплейт-->
			<div class="modal-dialog">
		  		<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Создание задачи</h4>
		      		</div>
		      		<div class="modal-body">
		      	 		<div id="create-task-region" class="panel panel-default"></div>
		      	 		<div id="create-user-region" class="panel panel-default"></div>
		      	 		<div id="append-user-region"></div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Отмена</button>
		        		<button type="button" class="btn btn-primary save-button">Сохранить</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</body>

	<script id="modal-dialog-template" type="text/template">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
					<h4 class="modal-title" id="editProjectLabel">
						<%= typeof title != "undefined" ? title : 'Создание задачи' %>
					</h4>
				</div>
				<div class="modal-body">
					<%= typeof text != "undefined" ? text : '' %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default cancel-button" data-dismiss="modal">
						Отмена
					</button>
					<button type="button" class="btn btn-primary save-button">
						<%= typeof saveText != "undefined" ? 'Сохранить' : saveText %>
					</button>
				</div>
			</div>
		</div>
	</script>

	<script id="confirm-dialog-template" type="text/template">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
					<h4 class="modal-title" id="confirmDialogLabel">
						<%= typeof title != "undefined" ? title() : '' %>
					</h4>
				</div>
				<div class="modal-body">
					<%= typeof text != "undefined" ? text() : '' %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default cancel-button" data-dismiss="modal">
						Отмена
					</button>
					<button type="button" class="btn btn-primary save-button">
						Подтвердить
					</button>
				</div>
			</div>
		</div>
	</script>

	<script id="main-layout" type="text/template">
		<div id="toolbar-region">
		</div>
		<div id="content-region">
		</div>
	</script>

	<script id="menu-item-template" type="text/template">
		<a><%=name%></a>
		<% if (showCounter) {%>
		<div class="badge"><%=count%></div>
		<% } %>
	</script>

	<script id="user-item-template" type="text/template">
		<label for="field-name"></label><span class="field-name"><%=name%></span>
		<label for="field-joined"></label><span class="field-joined"><%=datePrettify()%></span>
	</script>

	<script id="project-item-template" type="text/template">
		<td><input type="checkbox"></td>
		<td><div class="btn-wrap"><button class="expand-project btn btn-success">Задачи</button></td></div>
		<td><%=name%></td>
		<td><%=description%></td>
		<td><%=getStartedTime()%></td>
		<td>
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				<span class="sr-only">40% Complete (success)</span>
			</div>
		</td>
		<div class="tasks-list panel panel-default">
			<ul>
				<li>Задача
				</li>
			</ul>
		</div>
	</script>

	<script id="projects-list-template" type="text/template">
		<div class="panel-heading">
			<div class="project-menu">
				<div class="project-menu-item"><a href="#projects" class="show-projects-menu-link">Проекты</a></div>
				<ul class="project-menu-item nav nav-pills">
					<li class="show-archive-menu-link"><a href="#arhive" >Архив</a></li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<table>
				<thead>
					<tr>
						<th><input type="checkbox"></th>
						<th></th>
						<th>Название</th>
						<th>Описание</th>
						<th>Начат</th>
						<th>Прогресс</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
			<div class="project-info panel panel-default">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#js-project-content" role="tab" data-toggle="tab">Описание</a></li>
					<li><a href="#js-project-files" role="tab" data-toggle="tab">Файлы</a></li>
					<li><a href="#project-workers" role="tab" data-toggle="tab">Участники</a></li>
					<li><a href="#project-journal" role="tab" data-toggle="tab">Журнал</a></li>
					<li><a href="#project-print" role="tab" data-toggle="tab">Отчет</a></li>
					<li><a href="#js-project-create" role="tab" data-toggle="tab">Создать</a></li>
					<li><a href="#project-analyze" role="tab" data-toggle="tab">Статистика</a></li>
					<li><a href="#js-project-archive" role="tab" data-toggle="tab">Архивация</a></li>
				</ul>
				<div class="tab-content">
					
					<div id="js-project-content" class="tab-pane active">

						<div id="project-content-region" class="vertical-block">

						</div>

						<div id="comment-block" class="vertical-block">
							<h2>Комментарии</h2>
							<div id="project-comment-region" class="vertical-block">
							</div>
							<div id="comment-create-region" class="vertical-block">
							</div>
						</div>
					</div>
					<div id="js-project-files" class="tab-pane"></div>
					<div id="project-workers" class="tab-pane"></div>
					<div id="project-journal" class="tab-pane"></div>
					<div id="project-report" class="tab-pane"></div>
					<div id="js-project-create" class="tab-pane">
						<div id="create-project-region">
						</div>
					</div>
					<div id="project-analyze" class="tab-pane">
						<div class="row"><label class="col-md-2">Статус проекта</label></div>
						<div class="row"><label class="col-md-2">Общий процент выполнения</label></div>
						<div class="row"><label class="col-md-2">Примерный срок окончания</label></div>
						<div class="row"><label class="col-md-2">Количество задач</label></div>
						<div class="row"><label class="col-md-2">Количество открытых</label></div>
						<div class="row"><label class="col-md-2">Количество закрытых</label></div>
						<div class="row"><label class="col-md-2">Выполненных менее чем на 50%</label></div>
						<div class="row"><label class="col-md-2">Затраченного времени > 8</label></div>
						<div class="row"><label class="col-md-2">Задач без исполнителя</label></div>
						<div class="row"><label class="col-md-2">Задач без ответов</label></div>
					</div>
					<div id="js-project-archive" class="tab-pane">
					</div>
				</div>
			</div>
		</div>
	</script>

	<script id="success-project-view" type="text/template"> 
		<h1><%=title()%></h1>
		<div class="btn-wrap">
			<button class="recreate-new btn btn-success">Создать еще</button>
		</div>
	</script>

	<!--TASKS-->
	<script id="task-toolbar-template" type="text/template">
		<div class="btn-wrap"><div class="btn btn-default create-task-button"><span class="glyphicon glyphicon-plus"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default edit-task-button"><span class="glyphicon glyphicon-pencil"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default delete-task-button"><span class="glyphicon glyphicon-minus"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default" data-toggle="button"><span class="glyphicon glyphicon-th-large"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default" data-toggle="button"><span class="glyphicon glyphicon-list"></span></div></div>

	</script>
	<script id="project-toolbar-template" type="text/template">
		<div class="btn-wrap"><div class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default edit-project-button">
			<span class="glyphicon glyphicon-pencil"></span>
		</div></div>
		<div class="btn-wrap"><div class="btn btn-default delete-project-button">
			<span class="glyphicon glyphicon-minus"></span>
		</div></div>
		<div class="btn-wrap"><div class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></div></div>
		<div class="btn-wrap"><div class="btn btn-default"><span class="glyphicon glyphicon-list"></span></div></div>
	</script>

	<script id="user-toolbar-template" type="text/template">
		<div class="btn-wrap">
			<div class="btn btn-default btn-new"><span class="glyphicon glyphicon-plus"></span></div>
		</div>
		<div class="btn-wrap">
			<div class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></div>
		</div>
		<div class="btn-wrap">
			<div class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></div>
		</div>
		<div class="btn-wrap">
			<div class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></div>
		</div>
		<div class="btn-wrap">
			<div class="btn btn-default"><span class="glyphicon glyphicon-list"></span></div>
		</div>
	</script>

	<script id="task-empty-template" type="text/template">
		<h1>У выбранного проекта нет активных задач.</h1>
		<div class="btn-wrap">
		<button id="create-task-button" class="btn-lg btn-success" data-toggle="modal" data-target="#myModal">Создать</button>
		</div>
	</script>

	<script id="task-item-template" type="text/template">
		<div class="row task-header">
			<div class="col-md-12">
				<span class="col-md-6 label-primary"><%=name%></span>
				<span class="col-md-4"><%=description%></span>
				<%=started%>
				<%=created%>
				<%=progress%>
				<%=ended%>
			</div>
			
		</div>
		<div class="row task-content">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active task-description-tab"><a href="#task-content-<%=_id%>" role="tab" data-toggle="tab">Описание</a></li>
				<li>
					<a href="#task-workers-<%=_id%>" class="append-user" role="tab" data-toggle="tab">
						Участники
					</a>
				</li>
				<li>
				<a href="#task-journal-<%=_id%>" role="tab" data-toggle="tab">Журнал</a></li>
				<li>
				<a href="#task-print-<%=_id%>" role="tab" data-toggle="tab">Отчет</a></li>
				<li>
				<a href="#task-analyze-<%=_id%>" role="tab" data-toggle="tab">Статистика</a></li>
			</ul>
			<div class="tab-content">
				<div id="task-content-<%=_id%>" class="tab-pane active">
					<%=getText()%>
				</div>
				<div id="task-workers-<%=_id%>" class="tab-pane">
					<div class="task-users-content"></div>
				</div>
				<div id="task-journal-<%=_id%>" class="tab-pane"></div>
				<div id="task-report-<%=_id%>" class="tab-pane"></div>
				<div id="task-analyze-<%=_id%>" class="tab-pane"></div>
			</div>
		</div>
	</script>

	<script id="create-project-template" type="text/template">
		<form>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">Название</span>
					<input name="name" class="form-control" type="input">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Описание</span>
					<textarea name="description" class="form-control" type="input"></textarea>
				</div>
			</div>
			<div class="col-md-6 grids-container">
				<div class="panel panel-default panel-wrapper col-md-12">
					<div class="panel-heading">Участники</div>
					<div class="panel-text new-user-list">
						<ul class="list-group">
							<li class="list-group-item"></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default panel-wrapper col-md-12">
					<div class="panel-heading">Задачи</div>
					<div class="panel-text new-task-list">
						<ul class="list-group">
							<li class="list-group-item"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="btn-wrap">
				<button class="btn btn-success form-button save-button">
					Сохранить
				</button>
			</div>
			<div class="btn-wrap">
				<button class="btn btn-default form-button cancel-button">
					Отмена
				</button>
			</div>
		</form>
	</script>

	<script id="edit-project-template" type="text/template">
		<div class="panel panel-default">
			<form>
				<ul class="col-md-12">
					<li class="input-group">
						<span class="input-group-addon">Название</span>
						<input name="name" class="form-control" type="input">
					</li>
					<li class="input-group">
						<span class="input-group-addon">Описание</span>
						<textarea name="description" class="form-control" type="input"></textarea>
					</li>
				</div>
			</form>
		</div>
	</script>

	<script id="project-content-template" type="text/template">
		<div id="project-file-block-region">
		</div>
		<div id="project-text-editor-region">
		</div>
		<div class="btn-wrap">
			<div class="edit-text-button btn btn-success">
				Редактировать
			</div>
		</div>
		<div class="btn-wrap">
			<div class="save-text-button btn btn-success">
				Сохранить текст
			</div>
		</div>
	</script>

	<script id="file-block-template" type="text/template">
	</script>
	<script id="text-block-template" type="text/template">
	</script>
	<script id="text-editor-template" type="text/template">
	</script>

	<script id="create-task-template" type="text/template">
		<form>
			<div class="col-md-12" style="height: 400px;">
				<div class="input-group">
					<span class="input-group-addon">Название</span>
					<input name="name" class="form-control" type="input">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Описание</span>
					<textarea name="description" class="form-control" type="input"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<select name="worker">

				</select>
			</div>
		</form>
	</script>

	<script id="task-description-template" type="text/template">
		<div class="task-text-region"></div>
		<div class="task-comments-region"></div>
	</script>

	<script id="task-text-edit-template" type="text/template">
		<div class="text-editor-placeholder"></div>
		<div class="text-editor-controls">
			<button class="btn btn-primary text-edit-button" data-toggle="button">Редактировать</button>
			<button class="btn btn-default text-save-button">Сохранить текст</button>
		</div>
	</script>

	<script id="task-user-list-template" type="text/template">
		<div class="panel panel-default col-md-12">
			<ul class="col-md-12 task-user-list">
			</ul>	
			<div class="btn-wrap">
				<button class="btn btn-success append-user-btn">Добавить</button>
			</div>
		</div>
	</script>

	<script id="task-user-item-template" type="text/template">
		<input type="checkbox">
		<%=name%>
		<%=joined%>
	</script>

	<script id="create-user-template" type="text/template">
		<form class="create-user-form">
			<div class="col-md-12" style="height: 400px;">
				<div class="input-group col-md-12">
					<span class="input-group-addon">Имя пользователя</span>
					<input name="name" class="col-md-6 form-control" type="input">
				</div>
				<div class="input-group col-md-12">
					<span class="input-group-addon">Название</span>
					<input name="fullname" class="form-control" type="input">
				</div>
				<div class="input-group col-md-12">
					<span class="input-group-addon">Права</span>
					<select name="groupId">
						<option>Разработчик</option>
						<option>Администратор</option>
						<option>Аналитик</option>
					</select>
				</div>
				<div class="input-group col-md-12">
					<span class="input-group-addon">Пароль</span>
					<input name="password" class="form-control" type="input">
				</div>
				<div class="input-group col-md-12">
					<span class="input-group-addon">Повтор пароля</span>
					<input name="passwordRepeat" class="form-control" type="input">
				</div>
				<div class="input-group col-md-12">
					<span class="input-group-addon">Email</span>
					<input name="email" class="form-control" type="input">
				</div>
			</div>
		</form>
	</script>

	<script id="task-user-form-template" type="text/template">
	</script>

	<script id="comment-item-template" type="text/template">
		<span class="col-md-2 label-success"><%= getLocalTime()%></span>
		<span class="col-md-6"><%= getAuthorName()%></span>
		<div class="text-block">
			<%=text%>
		</div>
	</script>

	<script id="create-comment-template" type="text/template">
		<form>
			<div class="input-group col-md-12">
				<span class="input-group-addon">Текст</span>
				<textarea name="text" class="form-control"></textarea>
			</div>
			<!--CAPTCHA-->
			<div class="btn-wrap">
				<div class="save-button btn btn-success">
					Добавить
				</div>
			</div>
		</form>
	</script>

	<script id="empty-warning-template" type="text/template">
		<h1>Выберите проект из списка.</h1>
	</script>

	<script id="file-upload-template" type="text/template">
		<form enctype="multipart/form-data" method="POST">
			<input type="file" name="addFile" class="multi" multiple/>
			<div class="btn-wrap"><button class="btn btn-success">Добавить файл</button></div>
		</form>
	</script>

	<script id="file-item-template" type="text/template">
		<a href="<%=href%>"><%=name%></a>
	</script>

	<script id="files-layout-template" type="text/template">
		<div id="file-upload-region"></div>
		<div id="file-list-region"></div>
	</script>




	<!--COMPONENTS-->
	<script id="search-field-template" type="text/template">
		<% if (label) {%>
		<div class="col-md-2">
			<label><%=label%></label>
		</div>
		<% } %>
		<div class="col-md-10">
			<div class="input-group">
				<input class="form-control" placeholder="<%=placeholderText%>">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</script>

	<script id="view-variator-template" type="text/template">
		<div class="btn-group">
			<% if (listOn) {%>
				<button class="btn btn-default list-button">
				<span class="glyphicon glyphicon-list">
				</span></button>
			<% } %>

			<% if (gridOn) {%>
				<button class="btn btn-default grid-button">
				<span class="glyphicon glyphicon-th">
				</span></button>
			<% } %>

			<% if (tableOn) {%>
				<button class="btn btn-default table-button">
				<span class="glyphicon glyphicon-th-large">
				</span></button>
			<% } %>
		</div>
	</script>

</html>