
body {
	position: absolute;
	margin: 0;
	padding: 10px;
	font-family: Verdana;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	min-width: 1550px;
	border-radius: none !important;
}

#projects-list-template {
	width: 100%;
	height: 100%;
}

.project-info {
	position: relative;
	min-height: 500px;
	bottom: 0;
}

#toolbar-region {
	float: left;
/*	width: 20px;*/
}

#content-region {
	float: left;
	height: 100%;
	width: 90%;
	min-height: 900px;
}

#main-region {
	width: 100%;
	height: 100%;
}

#main-layout {
	width: 100%;
	height: 100%;
}

#content-region table {
	width: 100%;
	height: 100%;
}

#navbar {
	text-align: center;
}

#navbar a {
	width: 140px;
	text-decoration: none;
}

#navbar ul {
	margin: 0 auto;
}

#navbar #project-search {
	float: left;
}

#navbar .username {
	float: left;
	color: white;
	width: 300px;
	height: 50px;
}

#navbar .logout {
	height: 100%;
	float: right;
	width: 100px;
}

.expand-project {
	height: 100%;
}


table td {
	padding-left: 10px;
}

table th {
	padding-left: 10px;
}

table tr td:first-child {
	width: 50px;
}

table tr {
	height: 50px;
}

.task-header {
	height: 40px;
}

.task-content {
	min-height: 200px;
	padding: 10px;
}

.task-content .text-editor-placeholder {
	width: 50%;
	height: 80%;
	min-height: 150px;
	margin-bottom: 10px;
}
.task-content .text-editor-controls {
	width: 50%;
	min-height: 50px;
	height: 20%;
}

.full-range {
	position: relative;
	width: 100%;
	height: 100%;
}

.full-range .panel {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	height: 100%;
}

.tab-content {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*CREATE PROJECT*/
/*#js-project-create {
	width: 100%;
	height: 100%;
}*/
#js-user-create {
	width: 100%;
	height: 100%;
}

#create-project-region .panel-wrapper {
	padding: 0;
	height: 50%;
}

#create-project-region .grids-container {
	padding: 0;
	height: 100%;
}

#create-project-region .new-user-list {
	float: right;
	padding: 0;
	width: 100%;
	height: 50%;
}

#create-project-region .new-task-list {
	float: right;
	padding: 0;
	width: 100%;
	height: 50%;
}

/*BUTTONS*/

.form-button {
	width: 100px;
}

/*MODAL*/

.modal-body {
	width: 100%;
	height: 500px;
}

.modal-body ul li {
	margin-bottom: 20px;
}

#create-task-region {
	width: 100%;
	height: 100%;
}

#create-user-region {
	width: 100%;
	height: 100%;
}

#append-user-region {
	width: 100%;
	height: 100%;
}

#edit-project-region {
	width: 100%;
	height: 100%;
}

#create-task-region form textarea{
	height: 300px;
}

.create-user-form {
	padding-top: 20px;
}

.create-user-form .input-group {
	margin-bottom: 20px;
}

.create-user-form .input-group span {
	text-align: left;
	width: 35%;
}

.task-user-list {
	height: 90%;
}

.append-user-form {
	height: 470px;
}

.append-user-form .panel {
	height: 470px;
}

.append-user-form ul {
	height: 100%;
}

#project-text-editor-region {
	float: left;
	width: 100%;
	z-index: 999;
}

#project-text-block-region {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 420px;
	overflow-y: auto;
	z-index: 0;
}


/*CONTENT*/

.content-materials {
	width: 100%;
}

/*COMMENTS*/

#project-comment-region {
	width: 100%;
	height: 60%;
}

#comment-create-region {
	width: 100%;
	height: 40%;
}

table .active {
	background-color: #d9edf7;
}

table tr {
	border-bottom: 1px solid #CCCCCC;
	margin: -1px;
}

.save-text-button {
	clear: left;
	width: 200px;
}

.edit-text-button {
	clear: left;
	width: 200px;
}

.file-list {
	min-height: 420px;
}